.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 1px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
}

.card__image {
  width: 100%;
}
