.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 1px;
}

.card__name-container {
  position: absolute;
  top: 15px;
  gap: 10px;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between text and button */
}

.card__name {
  top: 15px;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
}

.card__image {
  width: 100%;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.card__like-button {
  background-image: url("src/assets/heart.svg");
  background-color: transparent;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("src/assets/heartblack.svg");
}
