.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grostesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grostesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 12px; /* Adds padding for better clickability */
  background-color: transparent; /* Ensures no weird background issues */
  display: flex;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grostesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}

.header__login {
  margin: 0;
  background-color: none;
  border: none;
  padding: none;
  font-family: "Cabinet Grostesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__signup {
  margin: 0;
  background-color: none;
  border: none;
  padding: none;
  font-family: "Cabinet Grostesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__avatar {
  display: flex;
  width: 60px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
